/var/spool:
cron
cups
mail
postfix

/var/spool/mail:
root

/var/spool/postfix:
active
bounce
corrupt
defer
deferred
flush
hold
incoming
maildrop
pid
private
public
saved
trace

/var/spool/postfix/pid:
inet.smtp
master.pid
unix.cleanup
unix.local
